h4{
    font-size: 2em;
    background-color: aqua;
    color: red;
}

.text-justify{
    text-align: justify;
    font-size: 1.2em;
}

.large{
    font-size: 2em;
}

div {
    padding: 10px;
    margin: 10px 0px;
}

span {
    margin: 20px;
}

.conectado {
    padding: 10px;
    background-color: rgba(0, 128, 0, 0.31);
}

.desconectado {
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.275);
}

button{
    padding: 5px;
    background-color: green;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;

}

.conectado button{
    padding: 5px;
    background-color: red;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;

}

.desconectado button{
    padding: 5px;
    background-color: green;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;

}