body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
  color: red;
}

.red{
  background-color: rgba(131, 15, 15, 0.792);
  border-radius: 5px;
  margin: 10px;
}

.green{
  background-color: rgba(5, 98, 5, 0.792);
  border-radius: 5px;
  margin: 10px;
}